header {
    font-size: 2em;
}

.section-header-text {
    font-size: 2.2em;
    padding: 80px 15px;
    color: rgb(85, 85, 85);
    text-align: center;
    font-family: 'Satisfy', cursive;
    .love {
        color: red;
    }
}

.section {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

footer {
    text-align: center;
    padding: 20px 0;
    font-size: 0.8em;
}

@media screen and (max-width: 600px) {
    .section-header-text {
        padding: 60px 15px;
    }
}